 <div class="navbar">
  <button id="side_btn" class="toggle-btn">
      <i id="icon" class="fa-solid fa-bars"></i>
  </button>

  Student Dashboard
  <a href="{% url 'logout' %}" class="logout">Logout</a>
</div>

<div class="side-panel" id="sidePanel">
    <h2>Students</h2>
    <hr>
    <a href="#">Home</a>
    <a href="#">Students</a>
    <a href="#">Courses</a>
    <a href="#">Enrollments</a>
    <a href="#">Attendance</a>
    <a href="#">Examinations</a>
    <a href="#">Setting</a>
    <a href="#">Change Password</a>
    <a href="#">Logout</a>      
</div>
html
