{% extends "base/base.html" %} {% block content %} {% include
"principal_dashboard/dashboard.html" %} {% include
"principal_dashboard/admin.html" %} {% include "Pri/teacher.html" %} {% include
"PrincipalPages/student.html" %} {% include "PrincipalPages/class.html" %} {%
include "PrincipalPages/subject.html" %} {% include
"PrincipalPages/assign_subject.html" %} {% include
"PrincipalPages/syllabus.html" %} {% include "PrincipalPages/timetable.html" %}
{% include "PrincipalPages/fees.html" %} {% include "PrincipalPages/exams.html"
%} {% include "PrincipalPages/attendance.html" %} {% include
"PrincipalPages/settings.html" %} {% endblock %}
