{% extends "base/base.html" %} {% block content %} {% include
"principal_dashboard/dashboard.html" %} {% include
"principal_dashboard/admin.html" %} {% include
"principal_dashboard/teacher.html" %} {% include
"principal_dashboard/student.html" %} {% include
"principal_dashboard/class.html" %} {% include
"principal_dashboard/subject.html" %} {% include
"principal_dashboard/assign_subject.html" %} {% include
"principal_dashboard/syllabus.html" %} {% include
"principal_dashboard/timetable.html" %} {% include
"principal_dashboard/fees.html" %} {% include "PrincipalPages/exams.html" %} {%
include "PrincipalPages/attendance.html" %} {% include
"PrincipalPages/settings.html" %} {% endblock %}
