* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #0d47a1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Sections */
.section {
    padding: 40px;
    text-align: center;
}

/* Table */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #bbb;
}

th, td {
    padding: 12px;
    font-size: 18px;
}

th {
    background: #1976d2;
    color: #fff;
}

/* Form */
form {
    width: 50%;
    margin: auto;
    text-align: left;
}

form label {
    font-size: 18px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #0d47a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #08306b;
}

/* Footer */
footer {
    background: #0d47a1;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/* Side panel */
.side-panel {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 330px;
    max-width: 90vw;
    /* background: #fff; */
    background: #1b1933;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.14);
    transition: right 0.33s cubic-bezier(.25, .8, .25, 1);
    z-index: 999999;
    padding: 28px 24px 24px 28px;
    display: flex;
    flex-direction: column;
}

/* Show the panel */
.side-panel.open {
    left: 0;
}

/* Close button */
.close-btn {
    /* background:black; */
    background: #1b1933;
    border: none;
    font-size: 1.6em;
    /* color:white; */
    color:#F8FAFC;
    position: absolute;
    top: 10px;
    right: 23px;
    cursor: pointer;
    width:20px;
    /* border-radius:100px; */
}

.side-panel a{
    display: block;
    padding:12px 20px;
    color:#d1d5db;
    text-decoration: none;
}

.side-panel a:hover{
    background:#374151;
    color:;
}